body {
  margin: 100px;
}

.box {
  width: 300px;
  height: 300px;
  background-color: #000000;

  animation-name: minhaAnimacao;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-delay: 500ms;
  animation-timing-function: ease-in;
  animation-direction: alternate-reverse;
}

@keyframes minhaAnimacao {
  0% {
    background-color: #000000;
  }
  33% {
    transform: translate(50px, 100px);
  }
  50% {
    border: 20px solid green;
    box-shadow: 0 0 120px black;
  }
  100% {
    border: 0 solid green;
    background-color: red;
  }
}