body {
  background: rgb(179, 172, 172);
  font-family: 'Oswald', sans-serif;  color:rgb(0, 0, 0);
}

.container {
  width: 900px;
  margin: 0 auto
  
}

.profile {
  text-align: center;
  margin-bottom: 40px;
}


.foto-principal {
    width: 200px;
    border: 2px solid #1f1d1d; 
    border-radius: 100%;
    margin: 30px 30px 0 30px;
    padding: 2px;
    box-shadow: 0px 0px 10px black;
    
}

h1 {
  margin-top: 10px;
  margin-bottom: 0;
  font-style: 'Oswald', sans-serif;
  color: black;
  font-weight: 100;
  letter-spacing: 3px;
  font-size: 35px;
}

h2 {
  margin-top: 0;
  font-style: italic;
  color: rgb(60 58 58);
  font-weight: 100;
  letter-spacing: 3px;
  font-size: 23px;
}

p {
  line-height: 25px;
}

.social-links {
  text-decoration: none;
}

.social-icons {
  width: 20px;
   
}

.github {
  margin: 0 15px 0 15px;
}

.facebook {
   margin: 0 15px 0 15px;
}