body {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    /*background-position: 100% 10%;*/
    background-position: center center;
    background-size: cover;
    
}

P {
    color:rgb(46,42,42)
}   