:root {
  --color-primary: rgb(11, 0, 73);
  --color-secondary: rgb(100, 84, 194);

  --spacing: 16px;
}

h1 {
  color: var(--color-primary);
}

h2 {
  color: var(--color-secondary);
  margin: var(--spacing);
}

p {
  color: var(--color-primary);
}

button {
  background: var(--color-primary);
  color: white;
}